*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col6{
    width: 100%;
}
.navbar ul{
    list-style: none;
}

.header{
    background-color: aqua;
}

.logo, .navbar li a:link, .navbar li a:visited{
    color: #fff;
    text-decoration: none;
    padding: 10pxx;
    display: inline-block;
    padding: 10px;
}

.navbar li a:link{
    display: block;
    transition: all .3s ease-in-out;
}

.navbar li a:hover, .navbar li a:focus{
    background-color: orange;
}

.d-flex{
    display: flex;
}

.navbar{
    display: none;
}

.navbar.show{
    display: block;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items-centre{
    align-items: center;
}

.togglebtn{
    color: #000;
    font-size: 24px;
    padding: 10px;
    height: 50px;
}

.active{
    background-color: orange;
}

@media all and (min-width:1200px){
    .col6{
        width: 50%;
    }
    #togglebtn{
        display: none;
    }
    .navbar{
        display: block;
    }
    .navbar ul{
        display: flex;
        justify-content: flex-end;
    }
}